@import './vendor/bourbon/app/assets/stylesheets/_bourbon';

@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'mixins';

html {
  width: 100%;
  height: 100%;
}

body.not-connected {
  background-image: url('../images/unsplash-kitsune-4-blurred.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body {
  background: $sc-orange;
  @include sc-font;
  color: rgba(255, 255, 255, .9);
}