@import './vendor/bourbon/app/assets/stylesheets/_bourbon';

@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'mixins';

a {
  color: inherit;
  text-decoration: none;
}

html {
  width: 100%;
  font-size: 16px;
}

body {
  @include cu-font;

  padding-top: 40px;
  background: $cu-white;
  color: rgba(255, 255, 255, .9);
}

/* ionicons font */
.ion {
  font-weight: normal;
  font-family: "ionicons";
  line-height: 1em;
}

@import "_loader";
@import "_sidebar";

/* main view styles */
.app__main {
  position: absolute;
  margin-left: 200px;
}

/* album view */
cumulus-album {

  -webkit-animation: fadeIn 2s;

  .meta {
    color: #000;
    white-space: nowrap;
    line-height: 1.3em;

    .author, .title {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author {
      line-height: 2em;
    }

  }

}